Playbooks/RecordedFuture/tiIndicators/IP TI/IPPhishing/Batching/template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "LogicAppName": {
            "defaultValue": "RF-TI-Batching-IPPhishing",
            "type": "string",
            "metadata": {
              "description": "The name of the Logic App."
            }
        },
        "app:tenantId":{
            "type": "string",
            "metadata": {
              "description": "The Azure AD tenant id of your organization."
            }
        },
        "app:clientId": {
            "type": "string",
            "metadata": {
                "description": "Client id of the AAD application with ThreatIndicators.ReadWrite.OwnedBy permissions."
            }
        },
        "app:clientSecret": {
            "type": "securestring",
            "metadata": {
                "description": "Client secret of the AAD application with ThreatIndicators.ReadWrite.OwnedBy permissions."
            }
        }
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('LogicAppName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "tenantId":{
                            "type": "string",
                            "defaultValue": "[parameters('app:tenantId')]"
                        },
                        "clientId":{
                            "type": "string",
                            "defaultValue": "[parameters('app:clientId')]"
                        },
                        "clientSecret":{
                            "type": "string",
                            "defaultValue": "[parameters('app:clientSecret')]"
                        }
                    },
                    "triggers": {
                        "Batch_messages": {
                            "type": "Batch",
                            "inputs": {
                                "configurations": {
                                    "RFIPPhishing": {
                                        "releaseCriteria": {
                                            "messageCount": 100,
                                            "recurrence": {
                                                "frequency": "minute",
                                                "interval": 45
                                            }
                                        }
                                    }
                                },
                                "mode": "Inline"
                            }
                        }
                    },
                    "actions": {
                        "Submit TI Indicators": {
                            "runAfter": {
                                "Initialize Variable TI-JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://graph.microsoft.com",
                                    "clientId": "@{parameters('clientId')}",
                                    "secret": "@{parameters('clientSecret')}",
                                    "tenant": "@{parameters('tenantId')}",
                                    "type": "ActiveDirectoryOAuth"
                                },
                                "body": "@variables('TI-JSON')",
                                "headers": {
                                    "content-type": "application/json"
                                },
                                "method": "POST",
                                "uri": "https://graph.microsoft.com/beta/security/tiIndicators/submitTiIndicators"
                            }
                        },
                        "Initialize Variable TI-JSON": {
                            "runAfter": {
                                "Select": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "TI-JSON",
                                        "type": "string",
                                        "value": "{\n\"value\":@{body('Select')}\n}"
                                    }
                                ]
                            }
                        },
                        "Select": {
                            "runAfter": {},
                            "type": "Select",
                            "inputs": {
                                "from": "@triggerBody()['items']",
                                "select": "@item()['content']"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {}
            }
        }
    ]
}